
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <img src="~/images/received_1685415478355769.jpeg" class="ImageWidth1" />
    <h1 class="HeaderLocation">
        Before Neumont:

    </h1>
    <h2 id="BeforNeumont">
        What I was like before Neumont is pretty different from what I'm like now.<br />
        I used to play video games every day right after school without even thinking about doing my school work.<br />
        I also did not associate with many people.<br />
        I had two friends that I would talk to daily, and one of them was online that I had never met in person. <br />
        I also used to read a lot, so much that I had completed a light novel before I arrived at Neumont that had 1000+ chapters.
    </h2>
    <img src="~/images/Me1.jpg" id="SecondimageLocation1" />
</div>