
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <img src="~/images/Houes.jpg" class="ImageWidth2" />
    <h1 class="HeaderLocation">
        Future Plans:

    </h1>
    <h2 id="FuturePlansText">
        My plans after I graduate from Neumont are pretty basic and hopefully accomplishable.<br />
        I plan to get a well-paying job and then live on as little of my paycheck as possible to save and pay back my student loans as fast as possible.<br />
        I also want to save up money to take a trip to Japan within a year of my graduation, as it has been a dream of mine to visit there.<br />
        After saving up enough money, I want to go back to Michigan and buy a house in the middle of nowhere to enjoy the country's peace.<br />
        Once I end up living in the country, hopefully, I can find a job that will allow me to work remotely, so I don't have to drive hours every day.
    </h2>
    <img src="~/images/Dogs.jpg" id="ThirdImage" />
</div>