@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <img src="~/images/me2.png" class="ImageWidth"/>
    <h1 class="HeaderLocation">
        About Me:
    </h1>
    <h2 id="aboutMeText">
        Hello, I'm Logan Bailey, and I hail from Michigan. I come from a big family of 5 where I'm the second eldest. <br />I have two dogs back in Michigan; they are both Pitbulls and are very adorable.<br />
        One of them is a red-nose American pit, and the other is a blue-nose American mix.<br /> Until I was 14 years old, I lived in the country until we moved into a small town for my mother's work. <br />
        I also consider cooking one of my hobbies that I picked up from my grandmother when I was young.<br /> I'm an avid gamer and currently can't wait for dying light 2 to come out if they ever decide to stop delaying it.
    </h2>
    <img src="~/images/meme1.jpg" id="SecondimageLocation"/>
</div>
