@{
    ViewData["Title"] = "Home Page - in view";
}

<!--
how to commit

-->
<div class="row">
    <div class="col-sm-4 border">
        <!---<a href="/home/privacy"Privacy></a>-->
        <a asp-controller="Home" asp-action="Privacy">Privacy via Controler/Action</a>
        <img src="/images/me2.png" width="100">

        row 1 col 1
    </div>
    <div class="col-sm-4 border">
        row 1 col 2
    </div>
    <div class="col-sm-4 border">
        row1 col 3
    </div>
    <div class="row">
        <div class="col-sm-8 col-xs-12 border">
            row 2 col 1
        </div>
        <div class="col-sm-2 col-xs-12 border">
            row 2 col 2
        </div>
        <div class="col-sm-2 col-xs-12 border">
            row 2 col 3
        </div>
    </div>
</div>
