@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 header">Welcome to the video game archive</h1>
    <a asp-controller="VideoGame" asp-action="Index" id="link"> Lets go to the games</a>
</div>
